{%load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VOICE BASED EMAIL FOR THE BLIND</title>
    <link rel="icon" type="image/png" href="{% static 'Images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' %}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" style="font-size:150%;">VOICE BASED EMAIL FOR THE BLIND</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <a class = "nav-link" href = "home">BACK</a>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
	<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1  style="margin-top:-60px; font-size:60px;color: black;" >LOGIN HERE</h1>
            
        <form action="loginconnect.php" method="POST">
            <br><br><br><br>
            <div class="container" >
                
                
                <div class="login">
                    
                    
                    
                      <h3 style="color: black;text-align: left;margin-left: 10%;">Email:</h3>
                      <input type="text" placeholder="Email" name="email"required/>
                      <br><br>
                      <h3 style="color: black;text-align: left;margin-left: 10%;">Password:</h3>
                      <input type="password" placeholder="Password" name="password"required/>
                      
                       <a href="Menu.php"> 
                        <input href="Menu.php"class="btn btn-primary btn-xl rounded-pill mt-5" role="button" type="submit" value="LOGIN"style="background-color: black;"></a>
                      <br>
                      
                      
                    </div>
                </div>
                  
                            
                           
            </div>
        </div>
    </form>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
    
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Voice Based Email&nbsp;</p>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>