{% extends 'base_layout.html' %}

{% block content %}
    <body onmousedown = "SendPostRequestHome(event)">
	
		<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
			<div class="container"><a class="navbar-brand" style="font-size:150%;">VOICE BASED EMAIL FOR THE BLIND</a>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="nav navbar-nav ml-auto">
						<li class="nav-item"></li>
						<a class = "nav-link" href = "home">BACK</a>
						<li class="nav-item"></li>
					</ul>
				</div>
			</div>
		</nav>
		<header class="masthead text-center text-white">
			<div class="masthead-content">
				<div class="container">
					<h1  style="margin-top:-60px; font-size:60px;color: black;" >LOGIN HERE</h1>
					
				<form action="loginconnect.php" method="POST">
					<br><br><br><br>
					<div class="container" >
						
						
						<div class="login">
							
							
							
							  <h3 style="color: black;text-align: left;margin-left: 10%;">Email:</h3>
							  {{adrr}}
							  <input type="text"{{addr}} placeholder="Email" name="email"required/>
						
							  <br><br>
							  <h3 style="color: black;text-align: left;margin-left: 10%;">Password:</h3>
							  <input type="password" placeholder="Password" name="password"required/>
							  {{passwrd}}
							   <a href="Menu.php"> 
								<input href="Menu.php"class="btn btn-primary btn-xl rounded-pill mt-5" role="button" type="submit" value="LOGIN"style="background-color: black;"></a>
							  <br>
							  
							  
							</div>
						</div>
						  
									
								   
					</div>
				</div>
			</form>
				</div>
			</div>
			<div class="bg-circle-1 bg-circle"></div>
			<div class="bg-circle-2 bg-circle"></div>
			<div class="bg-circle-3 bg-circle"></div>
			<div class="bg-circle-4 bg-circle"></div>
		</header>
			
		<script>
			function SendPostRequestHome(event){
				$.ajax({
				url: "{% url 'homepage:login' %}",
				method: 'POST',
				data: { 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				success: function (data) {
				
					if(data.result == 'success'){
						window.location = "{% url 'homepage:options' %}";
					}
					else if(data.result == 'failure'){
						window.location = "{% url 'homepage:login' %}";
					}
				}
			});
			}
			</script>
			<footer class="py-5 bg-black">
				<div class="container">
					<p class="text-center text-white m-0 small">Copyright&nbsp;© Voice Based Email&nbsp;</p>
				</div>
			</footer>
	<!--font color="white">
	<div class="any">
	<center>
	<br><b><u><h1 class="display-3 font-weight-bold"> Welcome To Our Voice Based Email Portal! </h1> 
	</u></b><br>
	<br><br><h1 class="display-4" >Our Team :</h1><br>
	<ul style="list-style-type:none; font-size:24px;">
	<li>RASHI DIXIT</li>
	<li>SHRADHA AGARWAL</li>
	<li>SHREYA MADAAN</li>
	<li>SHORYA KAUSHIK</li>
	</ul>
	<br><br><br>
	<h1 class="display-2 font-weight-bold" style="font-size:30px;">Let's Start ...</h1>
	</center>
	</font-->

	<!--Commented by them 
		<div class="page">
		<h2>Log In</h2>
		<form class="site-form" action="{% url 'homepage:login' %}" method="post">
			{% csrf_token %}
			{% for field in form %}
				<div class="col-sm-6">
					{{ field.label_tag }} - {{ field }}
				</div>
			{% endfor %}
			<input type="submit" value="Login">
		</form>
	</div>-->
	
	

{% endblock %}