{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{% static 'Images/icon.png' %}">
		<title>VOICE BASED EMAIL FOR THE BLIND</title>

		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
    	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

		</head>

		{% block content %}
		{% endblock %}

	
	</body>
</html>